* {
    box-sizing: border-box;
  }
  
  body { 
    font-size: 20px;
    color: black;
    text-align: center;
    line-height: 1.5;
  }
  
  nav {
    padding: 1% 0;
    background-color: #5c3b6f;
  }
  
  nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
  }
  
  header {
    padding: 40px;
  }
  
  .full-bio{
    padding: 20px;
  }

  .short-bio{
    padding: 15px;
  }

  .project{
    padding: 20px;
  }

  .project-desc{
    padding: 15px;
  }

  .photo{
    width: 100%;
    padding: 15px;
    display: inline-block;
  }